<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>gen</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script>

function send_whatsapp()
{
    var whatsappMessage = "My title" + "\r\n\r\n" + "My description and link \r\n" +"http://saudigenome.net/contact-us-2/?hashid="+ {{hashid}};
    whatsappMessage = window.encodeURIComponent(whatsappMessage)
    location.href = "https://api.whatsapp.com/send?text=" + whatsappMessage;
}
        
    </script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #581b40;color: rgb(255,255,255);">
        <div class="container-fluid"><a href="#" class="navbar-brand"
                style="background-color: rgba(142,118,118,0);color: rgba(255,255,255,0.9);width: 92px;font-size: 23px;"><strong>GENOME</strong></a>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>

    <div>
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">مرحبًا</h5>
            </div>
            <div class="card-body">
                <p class="card-text">مركز جينوم مركز جينوم مركز جينوم مركز جينوم مركز جينوم مركز جينوم مركز جينوم

            </div>
        </div>
    </div>
    <div>
        <div class="btn-group" role="group" style="width: 347px;">
            <button onclick="location.href='/{{file1}}'" class="btn btn-primary" type="button"
                style="color: rgb(255,255,255);background-color: rgb(88,27,64);width: 144px;height: 43px;/*align-items: center;*/"><strong>الملف
                    الأول</strong></button>
            <button onclick="location.href='/{{file2}}'" class="btn btn-primary" type="button"
                style="color: rgb(255,255,255);background-color: rgb(88,27,64);width: 144px;height: 43px;/*align-items: center;*//*align-self: center;*/"><strong>الملف
                    الثاني</strong></button>
            <button onclick="send_whatsapp()" class="btn btn-primary" type="button"
                style="color: rgb(255,255,255);background-color: rgb(88,27,64);width: 144px;height: 43px;/*align-items: center;*//*align-self: center;*/"><strong>WhatsApp</strong></button>
        </div>
    </div>
    <div>
        <p></p>
        <img src="assets/img/genome%20logo%20(1).png" class=center width=100px />
    </div>
    <div class="footer-dark">
        <footer></footer>
        <p class="copyright">Saudi Genome © 2019</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>